//! **************************************************************************
// Written by: Map P.68d on Mon Feb 25 00:29:57 2019
//! **************************************************************************

SCHEMATIC START;
COMP "W" LOCATE = SITE "M8" LEVEL 1;
COMP "F1" LOCATE = SITE "U16" LEVEL 1;
COMP "X" LOCATE = SITE "V9" LEVEL 1;
COMP "Y" LOCATE = SITE "T9" LEVEL 1;
COMP "Z" LOCATE = SITE "T10" LEVEL 1;
SCHEMATIC END;

